/* Definindo o layout com Flexbox */
.container {
    display: flex; /* Define o layout como flex */
    align-items: center; /* Alinha os itens no centro verticalmente */
    height: 100vh; /* Faz o container ocupar toda a altura da tela */
}

.imagem {
    flex: 1; /* Faz a imagem ocupar uma parte do espaço */
}

.imagem img {
    width: 100%; /* Faz a imagem ocupar a largura do contêiner */
    max-width: 2500px; /* Limita o tamanho da imagem */
    height: 800px; /* Mantém a proporção da imagem */
}

.formulario {
    height: 100vh; /* Faz o container ocupar toda a altura da tela */
    flex: 1; /* Faz o formulário ocupar o restante do espaço */
    display: flex;
    flex-direction: column; /* Alinha os itens no eixo vertical */
    justify-content: center; /* Alinha os itens verticalmente no centro */
    padding-left: 20px; /* Espaço entre o formulário e a imagem */
    background-color: aquamarine;
}