@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 
body{
	background-image: url(imagens/bg1.png);
	background-size: cover;
} */

.content{
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row-reverse;
	background-color: #022840;
}

a{
	text-decoration: none;
}

.col1{
	font-family: "Comfortaa";
	text-align: center;
	padding-left: 91px;
	padding-right: 91px;
	width: 30vw;
}

.titulo{
	margin-top: 25px;
	color: #2BDEFD;
	font-size: 24px;
	font-weight: bold;
}

.texto{
	margin-top: 15px;
	color: #D7F9FF;
	font-weight: bold;
	font-size: 16px;
}

.subtitulo{
	margin-top: 50px;
	color: #D7F9FF;
	font-size: 24px;
	font-weight: bold;
}

.campo-texto{
	width: 100%;
	line-height: 100%;
	box-sizing: border-box;
	border: 2px solid #D7F9FF;
	color: #01080D;
	height: 45px;
	border-radius: 5px;
	background-color: #D7F9FF;
}

.rotulo{
	margin-top: 27px;
	padding-bottom: 5px;
	display: block;
	font-size: 16px;
	font-weight: bold;
	color: #2BDEFD;
	width: 330px;
}

.cadastro{
	display: block;
	margin-top: 50px;
	padding-bottom: 15px;
	color: #D7F9FF;
}

.cadastro2{
	color: #D7F9FF;
}

.login{
	margin-top: 27px;
	display: block;
	text-align: left;
}

.botao-google{
	display: block;
	background-color: #022840;
	border: 2px solid #E76F51;
	color: #D7F9FF;
	height: 45px;
	width: 100%;
	margin-top: 25px;
	font-size: 16px;
	font-family: "Comfortaa";
	font-weight: bold;
	border-radius: 20px;
}

.botao-entrar{
	margin-top: 50px;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	font-family: "Comfortaa";
	color: #01080D;
	background-color: #2EF2AA;
	height: 45px;
	border-radius: 20px;
	border: 2px solid #2EF2AA;
}

.botoes{
	text-align: center;
	display: block;
}

.col2{
	width: 100vw;
	background-color: #022840;
}

.bg2{
	width: 100%;
}

.col3{
	width: 100vw;
}

.bg3{
	width: 100%;
}

.conteudo{
	
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #01080D;
}

.loading{
	font-family: "Comfortaa";
	font-size: 36px;
	font-weight: normal;
	color: #ffffff;
}

.cabecalho{
	display: flex;
	background-color: #022840;
	height: 50px;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
}

.link-menu{
	color: #ffffff;
	text-decoration: none;
	font-family: "Comfortaa";
	font-size: 16px;
	font-weight: bold;
	margin-right: 50px;
}

.texto-link{
	display: flex;
    align-items: center;
}

.campo-pesquisa{
	border: 2px solid #2EF2AA;
	border-radius: 90px;
	width: 300px;
	height: 40px;
	background-color: transparent;
	color: #ffffff;
}

input::placeholder{
	text-align: center;
	font-family: "Comfortaa";
	font-size: 16px;
	font-weight: normal;
    
}

.patinho{
	margin-right: 50px;
}

.pesquisa{
	margin-left: 50px;
}